*{
    font-family: 'Poppins';
}
.bgMain > img{
    object-fit: cover;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
}
body{
    margin: 0px;
}

.sectionScroll{
    padding-top: 20%;
}

.topHeadlines{
    padding: 4px;
    display: flex;
    padding-bottom: 50px;
    border-radius: 10px;
}

.topHeadlines > h1 {
    margin:0 auto;
    color: white;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    backdrop-filter: blur(20px);
}